@use "../abstracts" as abs;

[data-carousel]:not(.swiper-initialized) {
  display: none;
    min-height: 0;
}

.doc-carousel__wrapper {
  position: relative;
  width: 100%;
}
.doc-carousel {
  --doc-carousel-nav-bg: #{abs.get-color("fill-light")};
  --doc-carousel-nav-fg: #{abs.get-color("brand-tertiary")};
  --doc-carousel-nav-border-color: #{abs.get-color("stroke-primary")};
  --swiper-navigation-size: 32px;
  --swiper-navigation-sides-offset: 16px;

  position: relative;

  width: 100%;
  height: inherit;
  min-height: 50px;

  &__prev,
  &__next {
    background-color: var(--doc-carousel-nav-bg);
    color: var(--doc-carousel-nav-fg);
    --doc-icon-color: var(--doc-carousel-nav-fg);
    border-radius: 50%;
    --doc-icon-size: 16px;
    left: 32px;
    border: 1px solid var(--doc-carousel-nav-border-color);
    &.swiper-button-disabled {
      opacity: 0 !important;
    }
    i {
      margin: 1px 0 0;
    }
    svg {
      display: none;
    }
  }

  &__slide{
    position: relative;
    display: flex;
    flex-direction: column;
    & > * {
      flex: 1;
      height: inherit;
      width: inherit;
    }
  }
  &--thumbnail .doc-carousel{
      
    &__slide{
      cursor: pointer;
      width: 95px;
      height: 55px;
      filter: contrast(0.5) brightness(1.3);
      transition: filter 0.3s ease-in-out;
    }

    &__slide.swiper-slide-thumb-active{
      filter: unset;
    }
  }
}
