@mixin break-before {
  break-before: always;
  page-break-before: always;
}

@mixin break-after {
  break-after: always;
  page-break-after: always;
}

@mixin no-break-inside {
  break-inside: avoid;
  page-break-inside: avoid;
}

@mixin keep-with-next {
  break-after: avoid;
  page-break-after: avoid;
}

@mixin keep-with-previous {
  break-before: avoid;
  page-break-before: avoid;
}

@mixin no-break-inside-only {
  break-inside: avoid;
  page-break-inside: avoid;
  break-after: auto;
  page-break-after: auto;
}

@mixin allow-breaks {
  break-before: auto;
  page-break-before: auto;
  break-after: auto;
  page-break-after: auto;
  break-inside: auto;
  page-break-inside: auto;
}
